@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:opsz,wght@8..144,200&display=swap');

.section-head{
    background-image: url(../../images/img-6.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 30vh;
    padding-top: 60px;
    color: #fff;
    font-size: 1.4rem;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.308);
}

.about-section{
    padding: 10px 60px;
}

.about-section .first-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;
    margin-top: 120px;
}

.first-about .images{
    padding: 0px 10px;
}

.first-about .title{
    width: 50%;
    margin-left: 30px;
    margin: 10px 50px;
    font-family: 'Pathway Extreme', sans-serif;
}

.title h1, p{
    font-family: 'Pathway Extreme', sans-serif;
}

.img-1{
    position: absolute;
    height: 50vh;
    width: 85vh;
    border-radius: 20px;
    cursor: pointer;
}

.img-2{
    height: 50vh;
    width: 90vh;
    margin-left: 20px;
    margin-top: 2rem;
    border-radius: 20px;
    cursor: pointer;
}

.img-3{
    position: absolute;
    height: 50vh;
    width: 85vh;
    border-radius: 20px;
    cursor: pointer;
    z-index: -1;
}

.img-4{
    height: 50vh;
    width: 90vh;
    margin-left: 20px;
    margin-top: 2rem;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.second-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: inherit;
    margin-bottom: 5rem;
}

@media only screen and (max-width: 920px){
    .section-head{
        height: 20vh;
    }
    .about-section .first-about{
        flex-direction: column;
    }
    .first-about .images{
        padding: 0px;
        width: 100%;   
    }

    .images .img-1, .img-2{
        width: 30vh;
        left: 0;
        height: 15vh;
        margin-left: 40px;
        z-index: -1.0;
        margin-bottom: 30px;
    }
    .first-about .title{
        width: 100%;
    }

    .images .img-1{
        z-index: -1;
    }

    .second-about{
        display: none;
    }
}
